html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer / old Edge */
body {
  -ms-overflow-style: none;
}
